body {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 70px;
	background-color: black;
	
    /* disable text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.person-box {
    margin-top: 40px;
    padding: 4px;
    background-color: #161616;    
}

.person-img {
	height: 300px;
    width: 300px;
}

.person-txt {
    color: white;
}

.index-char {
	text-align: center;
	padding-top: 50px;
	padding-right: 15px;
	font-size: 24px;
}

.BoldName,
.LastName {
	font-size: 18px;
	font-weight: bold;
	color: yellow;
}

.FirstNames {
	font-size: 12px;
	color: white;
}

.ChildNames {
	font-size: 10px;
	color: white;
}
